# Inserts a blank line between shell prompts
add_newline = true

format = """
$username$hostname $directory $git_branch
$character
"""

# Replace the "â¯" symbol in the prompt with ">"
[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"

[username]
style_user = "green"
show_always = true
format = "[$user]($style)"

[hostname]
ssh_only = false
disabled = false
format ="@[$hostname](green)"

[directory]
truncate_to_repo = false
style = "blue"
read_only_style = "red"
format = "[$path]($style)[$read_only]($read_only_style)"

[git_branch]
format = "[$symbol$branch](style)"
